<!DOCTYPE html>
<html>
<head>
  <title>Contact Us</title>
  <link rel="stylesheet" href="/contact.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: #AED580;"> 
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">NutriBud</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="home.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="signup.html">Sign Up</a></li>
                <li class="nav-item"><a class="nav-link" href="BMI.html">BMI Calculator</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>
                <li class="nav-item"><a class="nav-link" href="aboutus.html">About Us</a></li>
                <li class="nav-item profile-icon"><a class="nav-link" href="profile.html"><img src="../img/profile.jpeg" alt="Profile" class="profile-icon-img"></a></li>
            </ul>
        </div>
    </nav>
<div class="container">
    <div class="contact-form">
      <h1>Contact Us</h1>
      <form>
        <label for="name"><i class="fas fa-user"></i> Your Name</label><br>
        <input type="text" id="name" name="name"><br>

        <label for="email"><i class="fas fa-envelope"></i> Your Email</label><br>
        <input type="email" id="email" name="email"><br>

        <label for="message"><i class="fas fa-comment"></i> Your Message</label><br>
        <textarea id="message" name="message" rows="4"></textarea><br>

        <input type="submit" value="Submit">
      </form>
    </div>
    
    <div class="contact-info">
      <h2>Get In Touch</h2>
      <p><i class="fas fa-phone"></i> Call Us: +91 9704042207</p>
      <p><i class="fas fa-envelope"></i> Email Us: s&s@gmail.com</p>
      <p><i class="fas fa-map-marker-alt"></i> Address: AVA Road, Rajahmundry</p>
      
      <h2>Follow Us On</h2>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
    
    <div class="map-container">
      <iframe
        width="100%"
        height="300"
        frameborder="0"
        style="border:0"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3815.2421838287332!2d81.7953678!3d17.0117867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a37a3ebf2729063%3A0x55998b8dc2a50a11!2sAve%20Appa%20Rao%20Rd%2C%20Sheela%20Nagar%2C%20Prakasam%20Nagar%2C%20Rajamahendravaram%2C%20Andhra%20Pradesh%20533106!5e0!3m2!1sen!2sin!4v1712075781610!5m2!1sen!2sin"
        allowfullscreen>
      </iframe>
    </div>
  </div>
</body>
</html>
