body {
  background-color: #f8f9fa; /* Light gray */
  color: #757575; /* Dark gray */
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.info-section {
  flex: 1;
}

.profile-icon {
  padding-left: 10px; /* Adjust as needed */
}

.profile-icon-img {
  width: 30px; /* Adjust size as needed */
  height: 30px;
  border-radius: 50%; /* Make it circular */
  border: 1px solid #fff; /* Add border */
}

.profile-icon-img:hover {
  background-color: rgba(255, 255, 255, 0.2); 
  transition: background-color 0.3s ease; 
}

.dropdown-menu {
  width: auto !important;
  min-width: 250px;
  border: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0
  .2);
  position: absolute;
  top: 10px;
  right: 10px;
}

.dropdown-menu .card {
  border: none;
}

.dropdown-menu .card-header {
  background-color: #AED580; /* Light green */
  border-bottom: none;
  color: #333; /* Dark gray */
}

.dropdown-menu .card-body {
  padding: 15px;
}

.dropdown-menu .form-group label {
  color: #333; /* Dark gray */
}

.dropdown-menu .form-control {
  border-color: #cccccc; /* Light gray */
}

.btn-primary {
  width: 100%;
  background-color: #4caf50; /* Nice green color for button */
  border-color: #4caf50; /* Nice green color for button */
  color: #fff; /* White text for contrast */
}

.btn-primary:hover {
  background-color: #388e3c; /* Darker green on hover */
  border-color: #388e3c; /* Darker green on hover */
}

/* Filter Icon Makeover */
.btn-filter-icon {
  font-size: 1.2rem;
  margin-right: 5px;
  color: #4caf50; /* Nice green color */
}
#filter-toggle-btn
{
  text-decoration:none;
  color:#4caf50;
  border:2px solid rgb(178, 218, 178) ;
}
/* Filter Button Makeover */
.btn-filter {
  font-weight: bold;
  background-color: #4caf50; /* Nice green color */
  border-color: #4caf50; /* Nice green color */
  color: #fff; /* White text for contrast */
  text-decoration: none; /* Remove underline */
}

.btn-filter:hover {
  background-color: #388e3c; /* Darker green on hover */
  border-color: #388e3c; /* Darker green on hover */
}
